extends layout

block content
  != page.html
  - var archive = _.chain(contents.articles._.directories).map(function(item) {
  -   return item.index
  - }).compact().sortBy(function(item) {
  -   return -item.date
  - }).groupBy(function(item) {
  -   return item.date.getFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

  section.archive
    each year in _.chain(archive).keys().reverse().value()
      h2= year

      - var months = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
      
      each articles, month in months
        h3= month

        section.gallery
          each article in articles
            - var zeroFill = ''
            - var gLen = (article._metadata.gallery ? article._metadata.gallery.toString().length : 0)
            - var pLen = article._metadata.preview.toString().length
            - for(var j = pLen; j < gLen; j++)
              - zeroFill += '0'
            a.slide(href=article.url, title=article.title)
              img(src=article.url + "images/thumb" + zeroFill + article._metadata.preview + '.jpg')
