extends layout

block content
  each article in articles
    - var zeroFill = ''
    - var gLen = (article.metadata.gallery ? article.metadata.gallery.toString().length : 0)
    - var pLen = article.metadata.preview.toString().length
    - for(var j = pLen; j < gLen; j++)
      - zeroFill += '0'

    article.post
      .row
        if article.metadata.preview
          .third
            figure.preview
              a(href=article.url)
                img(src=article.url + "images/thumb" + zeroFill + article.metadata.preview + ".jpg")
        .twothird
          h2
            a(href=article.url)= article.title
          .content !{ article.intro }
            if article.hasMore
              p.read-more
               a(href=article.url) Read more...
            p.posted Posted on 
              mixin dateFormat(article.metadata.date) 
              | by 
              mixin author(article.metadata.author)
              | .

  p: a.archives(href="/archive.html") View more in the archives...
