extends layout

block content
  //- underscore helps us filter and sort our articles
  - var articles = _.chain(contents.articles._.directories).map(function(item) {
  -   // map articles to index pages of subdirectories of 'articles'
  -   return item.index
  - }).compact().sortBy(function(item) { // compact removes any directories w/o an index
  -   // sort them by date
  -   return -item.date
  - }).first(5).value() // and finally take the first 5
  each article in articles
    article.post
      .row
        if article.metadata.preview
          .third
            figure.preview
              a(href=article.url)
                img(src=article.url + "images/thumb" + (article.metadata.preview < 9 ? '0' : '') + article.metadata.preview + ".jpg")

        .twothird
          h2
            a(href=article.url)= article.title
          
          .content !{ article.intro }
            if article.hasMore
              p.read-more
               a(href=article.url) Read more...

            p.posted Posted on 
              mixin dateFormat(article.metadata.date) 
              | by 
              mixin author(article.metadata.author)
              | .
